@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Montserrat";
  background-color: #ffe8d4;
  color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 9fr;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 3rem;
    background-color: #45062e;
    height: 90vh;
    width: 13vw;
    min-width: 20rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

aside > div > h2 {
    cursor: default;
}

.filter {
    display: grid;
    gap: 1rem;
}


.filter > li:target {
    background-color: red;
}

.project-plus-icon {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.project-plus-icon > h2 {
    cursor: default;
}

.project-plus-icon > i {
    padding-top: 0.1rem;
    cursor: pointer;
}

.projects {
    display: grid;
    gap: 1rem;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1.5rem;
}

ul > li {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.projects > li {
    justify-content: space-between;
}

ul > li > i {
    padding-bottom: 0.3rem;
}

li:hover {
    background-color: #e5a4cb;
    color: #000;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.selected {
    background-color: #e5a4cb;
    color: #000;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
}


header {
    background-color: #7f055f;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    grid-column: 1 / -1;
}

header > h1 {
    cursor: default;
}

.main {
    padding: 5rem;
    height: 90vh;
    width: 87vw;
    grid-row: 2 / 3;
    grid-row: 2 / 3;
    color: #000;
}

.main >  h1 {
    cursor: default;
}

.tasks {
    display: flex;
    /* flex-direction: column; */
    gap: 4rem;
    margin: 2rem 0;
    flex-wrap: wrap;
}
.task {
    background-color: #e5a4cb;
    padding-bottom: 1rem;
    width: 49.6rem;
    border-radius: 15px;
    padding: 15px;
}

input[type="checkbox"] {
    accent-color: #45062e;
    margin-right: 1rem;
}

input[type="date"] {
    color: #45062e;
}

.add-task {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.task-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-icons > div:last-child {
    display: flex;
    gap: 1rem;
}

.project-dialog {
    margin: auto;
    border-radius: 1rem;
    border: none;
    background-color: #e5a4cb;
}

.project-dialog > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 45rem;
    height: 15rem;
    padding: 1rem;
}

.project-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    border-bottom: #45062e 1px solid;
    padding-bottom: 0.5rem;
}

.project-dialog > div > input {
    height: 4rem;
    outline: none;
    border: none;
    font-size: 1.6rem;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    background-color: #ffe8d4;
    color: #000;
}

.project-dialog > div > button {
    height: 5rem;
    width: 30%;
    align-self: center;
    border-radius: 0.5rem;
    border: none;
    background: #45062e;
    color: #fff;
    cursor: pointer;
}

.project-dialog > div > button:hover {
    background: #7f055f;
}

.project-close > h3 {
    cursor: default;
}

.fa-x {
    cursor: pointer;
}

.task-dialog, .edit-dialog {
    margin: auto;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    background-color: #e5a4cb;
}

.task-input {
    display: flex;
    flex-direction: column;
    width: 45rem;
    gap: 1rem;
}

.task-input > div {
    display: flex;
    gap: 1rem;
}

.task-input > input {
    height: 4rem;
    outline: none;
    border: none;
    font-size: 1.6rem;
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    background-color: #ffe8d4;
    color: #000;
}

.task-input > button {
    height: 4.5rem;
    width: 30%;
    align-self: center;
    border-radius: 0.5rem;
    border: none;
    background: #45062e;
    color: #fff;
    cursor: pointer;
}

.task-input > button:hover {
    background: #7f055f;
}

dialog > div > h3 {
    cursor: default;
}

#task-name, #task-description, #edit-task-name, #edit-task-description {
    height: 4rem;
    outline: none;
    border: none;
    font-size: 1.6rem;
    padding-left: 0.5rem;
}

.task-close {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    border-bottom: #45062e 1px solid;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.low {
    border-right: 15px solid #00ff4cb6;
}

.medium {
    border-right: 15px solid #ffd519d6;
}

.high {
    border-right: 15px solid #ff0022b6;
}

fieldset {
    border: #45062e 1px solid;
    padding: 0.3rem;
    display: flex;
    gap: 0.6rem;
    accent-color: #45062e;
}

.task-icons > div > i {
    cursor: pointer;
}